{# src/Okeanos/CoreBundle/Resources/views/Default/actionsAdd.html.twig #}
{% extends 'OkeanosCoreBundle::layout.html.twig' %}
{% block title %}Ajouter une action | Actions | {{ parent() }}{% endblock %}
{% block activePageActions %} active{% endblock %}
{% block container %}
    <p>Coucou, tu viens d'ajouter une action</p>
{% endblock %}