{# src/Okeanos/CoreBundle/Resources/views/Default/index.html.twig #}
{% extends 'OkeanosCoreBundle::layout.html.twig' %}
{% block activePageHome %} active{% endblock %}
{% block css %}
        <link rel="stylesheet" href="{{ asset('scripts/css/bootstrap/bootstrap-grid.min.css') }}">
        <link rel="stylesheet" href="{{ asset('scripts/css/bootstrap/bootstrap-reboot.min.css') }}">
        <link rel="stylesheet" href="{{ asset('scripts/css/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('scripts/css/style.css') }}">
 {% endblock %}
{% block container %}
    <div class="main-container">
        <section class="container">
            <div class="row">
            <h1 class="text-justify">Welcome to Project Okeanos</h1>
            <h3 class="text-justify"> We are committed to protect and enhance our environment</h3>
            <p class="text-justify">Project Okeanos was created by the Britanny Sea life association in order to save the ocean and the Britanny coastline. 
            We will lead several actions with different purposes like waste collection on the beaches or deploying devices to clean ports and the oceans. 
            Nowadays, cleaning the oceans is not just to gain a bit of comfort or to make our beaches more attractive for tourist. 
            It’s a matter of life for our planet, and it’s URGENT. Hundreds of species are dying from our plastic wastes in the ocean. 
            “Over 5 trillion pieces of plastic currently litter the ocean” – Ocean Cleanup
            Britanny Sea life is a non-profitable association, that’s why we need YOUR help to reach our objectives. 
            We are currently leading 3 actions, but if our first campaign is successful, we will create new actions to widen our area of activity.
            </p> 

            </row>
        </section>
    </div>
{% endblock %}