{# src/Okeanos/CoreBundle/Resources/views/Default/index.html.twig #}
{% extends 'OkeanosCoreBundle::layout.html.twig' %}
{% block activePageHome %} active{% endblock %}
{% block container %}
    <div class="main-container">
        <section class="container">
            <p>Mon conteneur ici</p>
        </section>
    </div>
{% endblock %}