{# src/Okeanos/CoreBundle/Resources/views/Default/newsAdd.html.twig #}
{% extends 'OkeanosCoreBundle::layout.html.twig' %}
{% block title %}Ajouter une news | News | {{ parent() }}{% endblock %}
{% block activePageNews %} navbar-link-active{% endblock %}
{% block container %}
    <p>Coucou, tu viens d'ajouter une news</p>
{% endblock %}