{# src/Okeanos/CoreBundle/Resources/views/Default/usersAdd.html.twig #}
{% extends 'OkeanosCoreBundle::layout.html.twig' %}
{% block title %}Ajouter un user | Users | {{ parent() }}{% endblock %}
{% block container %}
    <p>Coucou, tu viens d'ajouter un user</p>
{% endblock %}