{# src/Okeanos/CoreBundle/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Okeanos{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{{ asset('scripts/css/style.css') }}">
    {% endblock %}
</head>
<body>
    <div class="wrapper-main">
        <!-- NAV -->
        {{ include('OkeanosCoreBundle::menu.html.twig') }}
        <!-- /END NAV -->

        <!-- CONTAINER -->
        {% block container %}
        {% endblock %}
        <!-- /END CONTAINER -->

        <!-- FOOTER -->
        {{ include('OkeanosCoreBundle::footer.html.twig') }}
        <!-- /END FOOTER -->
    </div>
</body>
</html>