<nav class="navbar">
    <p class="logo">OKEANOS</p>
    <ul class="navbar-menu">
        <li class="navbar-item"><a href="#" class="navbar-link navbar-link-active">HOME</a></li>
        <li class="navbar-item"><a href="#" class="navbar-link">NEWS</a></li>
        <li class="navbar-item"><a href="#" class="navbar-link">ACTIONS</a></li>
        <li class="navbar-item"><a href="#" class="navbar-link">DONATE</a></li>
        <li class="navbar-item"><a href="#" class="navbar-link">LOGIN</a></li>
    </ul>
</nav>