.wrapper-main{
    min-height: 100vh;
    position: relative;
    padding-bottom: 558.6px;
}

.wrapper-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.h6{
    margin-top: 25px;
}