@font-face{
    font-family: 'CaviarDreams';
    src: url('../../medias/fonts/caviar_dreams/CaviarDreams.ttf') format('OpenType');
}

/* -------- NAVBAR -------- */
.bg-dark {
    background-color: rgba(63, 75, 89, 0.92) !important;
    position: fixed;
    width: 100%;
}

.navbar{
    font-family: 'CaviarDreams';
    color: #FFFFFF;
}

.navbar-brand img {
    width: 200px;
}

li.active{
    background-color: #73C6BE;
    border-radius: 4px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.91)!important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.51) !important;
}

/* hide the blue outline */
.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

.navbar .btn {
    border-color: initial;
    background-color: #FFFFFF!important;
}

.navbar .btn:hover{
    background-color: rgb(115, 198, 190) !important;
}

.navbar .fas{
    color: white;
}
.navbar .fas:hover {
    color: rgb(115, 198, 190) !important;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: rgb(115, 198, 190) !important;
}

h1{
    text-align: center;
    padding-bottom: 20px;
}

/* -------- NEWS -------- */
.news {
    padding-top: 20px;
}

.news p.day {
    font-size: 50px;
}

.news button.btn.btn-primary{
     background-color: rgb(115, 198, 190) !important;
     border: none;
     color: white!important;
 }

.news button.btn.btn-primary:hover{
    background-color: rgb(94, 176, 168) !important;
    width: 105px;
    box-shadow: 1px 1px 1px rgba(10, 10, 10, 0.55);
    border: none;
    color: white!important;
}

.news a{
    color: white!important;
}



/* -------- HEADER -------- */
.news.hero-section {
    background: url("../../medias/img/news.png") 50% no-repeat;
    background-size: cover;
    height: 80vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.news.hero-section .hero-section-text h1 {
    font-size: 5em !important;
    font-weight: bold;
}

.news.hero-section .hero-section-text {
    font-family: CaviarDreams;
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
}
.news.hero-section .hero-section-text span.green{
    color: #73C6BE;
}
.actions.hero-section {
    background: url("../../medias/img/actions.png") 50% no-repeat;
    background-size: cover;
    height: 80vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.actions.hero-section .hero-section-text {
    font-family: CaviarDreams;
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
}

.actions.hero-section .hero-section-text h1 {
    font-size: 5em !important;
    font-weight: bold!important;
}

.actions.hero-section .hero-section-text h2 {
    font-size: 2em !important;
    font-weight: bold!important;
}


/* -------- FOOTER -------- */

footer {
    padding: 60px 0;
    font-family: 'CaviarDreams';
}

p.backHome {
    text-align: center;
    margin: 0;
}

footer .section-title {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.footer {
    background-image: url('../../medias/img/footer.png');
    background-repeat: round;
}
.footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
.footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
}
.footer ul.social li{
    padding: 3px 0;
}
.footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
.footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
.footer ul.social li a,
.footer ul.quick-links li a{
    color:#ffffff;
}
.footer ul.social li a:hover{
    color:#eeeeee;
}

.footer ul.social img{
    width: 25px;
}

.footer ul.social img:hover{
    width: 30px;
    box-shadow: #3c414b;
}

.footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
.footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
.footer ul.quick-links li a i{
    margin-right: 5px;
}
.footer ul.quick-links li:hover a i {
    font-weight: 700;
}

.footer img {
    width: 100px;
}

select#inlineFormCustomSelect.custom-select.mr-sm-2{
    background-color: transparent;
    color: white;
}

@media (max-width:767px){
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}