@font-face{
    font-family: 'CaviarDreams';
    src: url('../../medias/fonts/caviar_dreams/CaviarDreams.ttf') format('OpenType');
}

.navbar{
    font-family: 'CaviarDreams';
    color: #FFFFFF;
}

.navbar-brand img {
    width: 200px;
}

li.active{
    background-color: #73C6BE;
    border-radius: 4px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.91)!important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.51) !important;
}

/* hide the blue outline */
.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

.btn {
    border-color: initial;
    background-color: #FFFFFF!important;
}

.btn:hover {
    background-color: rgb(115, 198, 190) !important;
}

h1{
    text-align: center;
    padding-bottom: 20px;
}

.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}